params.executor = "pbs" //Can be override with --executor parameter within the nextflow execution
process.executor = params.executor
executor.queueSize = 2000
executor.exitReadTimeout = "120 sec"

report.enabled = true
trace.enabled = true
dag.enabled = true
report.file = "transXpress_results/report.html"
trace.file = "transXpress_results/trace.txt"
dag.file = "transXpress_results/dag.html"

process.errorStrategy = "retry"
process.maxRetries = 4

params.general_CPUs = 2 //In cores. Used for trimmomatic, fastqc, blastx, blastp, hmmer
params.assembly_CPUs = 12 //In cores. Used for Trinity, rnaSPAdes, kallisto non-parallelized phases
params.assembly_MEM = 400 //In gigabases. Used for Trinity and rnaSPAdes high memory phases

///TransXpress is setup such that each process has well defined CPU and memory requirements
///so a HPC scheduler can allocate processes to nodes accurately.
///But, some HPC systems restrict nodes with specialized resources to certain queues only. The parameters
///below allow for high memory, standard, or short-time node queues to be selected.
///If your default HPC queue allows all types of nodes to be selected, set all 3 to your default queue
params.queue_highmemory_nodes = "home-sio"
params.queue_standard_nodes = "condo"
params.queue_shorttime_nodes = "glean"

params.queue_longtime = '30d'
params.queue_stdtime = '7h59m'
params.queue_shorttime = '59m'

params.cluster_options = "-V"
params.before_script_cmds = ". '/home/tfallon/miniconda3/etc/profile.d/conda.sh';conda activate transxpress;echo 'nextflow job directory:' \$(pwd)"
params.max_forks = 50

