process.executor = "lsf"
executor.queueSize = 2000
executor.exitReadTimeout = "120 sec"

env.PATH = "/EXAMPLE/PATH/trinityrnaseq-Trinity-v2.8.4:/EXAMPLE/PATH/TransDecoder-TransDecoder-v5.5.0:/EXAMPLE/PATH/transrate-1.0.3-linux-x86_64:/EXAMPLE/PATH/signalp-4.1:/EXAMPLE/PATH/tmhmm-2.0c/bin:/EXAMPLE/PATH/ncbi-blast-2.7.1+/bin:/EXAMPLE/PATH/bowtie2-2.3.4.3-linux-x86_64:/EXAMPLE/PATH/hmmer-3.2.1/src:$PATH"

report.enabled = false

process.errorStrategy = "retry"
process.maxRetries = 1

