////
//// nextflow parameters ////
////

includeConfig 'cluster.config'
includeConfig 'profiles.config'

params.tmhmmPyCondaEnvPath = "${CONDA_PREFIX}/envs/tmhmm.py"

////
//// transXpress parameters ////
////

params.storeDB = "/oasis/tscc/scratch/tfallon/transXpress_store/" //All the used bioinformatic databases (e.g. pfam, swissprot) will be downloaded to this location
//Needs ~10 GB of space, and should be on a shared filesystem to enable all forked transXpress processes to access the files.

//By default, transXpress will add a prefix to your transcriptome assembly in the form <date>_<metadata>_<assembler>
//You may disable all these additions if you do not like them.
//For the <metadata> parameter, we suggest you put the "Genus species" of the main species your dataset describes
//but, you are free to disable the metadata parameter or use it to record non-genus-species metadata e.g. sample identifier
params.prefix_add_date = true //Set to false to disable
params.prefix_add_date_formatting = "yyMMdd" //See https://docs.oracle.com/javase/8/docs/api/java/text/SimpleDateFormat.html to change this formatting 
params.prefix_add_metadata_file = "./prefix.txt" //Expects to find a text file with the content within separated by spaces. Set to "" to disable
params.prefix_add_assembler = true //Will add Trinity or rnaSPAdes to the prefix, depending on which assembler is used

//Paths to the Raw fastq reads used by transXpress are specified in this file.  See the documentation for instructions on creating this file
params.samples = "samples.tsv"

params.trimmomatic_adapter_file = "./adapters.fasta" //This file contains many types of sequencing adapters for automated removal with trimmomatic
params.TRIMMOMATIC_PARAMS = "ILLUMINACLIP:adapters.fasta:2:30:10 SLIDINGWINDOW:4:5 LEADING:5 TRAILING:5 MINLEN:25" //transXpress will automatically rename the params.trimmomatic_adapters file to ./adapters.fasta internally 

params.TRINITY_PARAMS = " --seqType fq"
params.RNASPADES_PARAMS = ""

params.SIGNALP_ORGANISMS = "euk"
