//// See below for the profiles that choose which HPC system to use, and whether or you want to do a stranded or unstranded assembly

profiles {
  notStrandSpecific_local {
    process.executor = "local"
// Used for both trinity and kallisto jobs!
    params.STRAND_SPECIFIC_TRINITY = "" // --SS_lib_type=RF
    params.STRAND_SPECIFIC_RNASPADES = "" // --ss-rf
    params.TRINITY_PARAMS += " --min_glue 2"
    params.TRINITY_PARAMS += " --min_kmer_cov 2"
    params.TRINITY_PARAMS += " --no_normalize_reads"
    
  }

  strandSpecific_local {
    process.executor = "local"
// Used for both trinity and kallisto jobs!
    params.STRAND_SPECIFIC_TRINITY = "--SS_lib_type=RF"
    params.STRAND_SPECIFIC_RNASPADES = "--ss-rf" 
    params.TRINITY_PARAMS += " --min_glue 2"
    params.TRINITY_PARAMS += " --min_kmer_cov 2"
    params.TRINITY_PARAMS += " --no_normalize_reads"

  }

  notStrandSpecific_cluster {
    // Used for both trinity and kallisto jobs!
    params.STRAND_SPECIFIC_TRINITY = ""
    params.STRAND_SPECIFIC_RNASPADES = ""
    params.TRINITY_PARAMS += " --min_glue 2"
    params.TRINITY_PARAMS += " --min_kmer_cov 2"
    params.TRINITY_PARAMS += " --no_normalize_reads"

  }

  strandSpecific_cluster {
    // Used for both trinity and kallisto jobs!
    params.STRAND_SPECIFIC_TRINITY = "--SS_lib_type=RF"
    params.STRAND_SPECIFIC_RNASPADES = "--ss-rf"
    params.TRINITY_PARAMS += " --min_glue 2"
    params.TRINITY_PARAMS += " --min_kmer_cov 2"
    params.TRINITY_PARAMS += " --no_normalize_reads"

  }

  test_notStrandSpecific_local {
    process.executor = "local"
    params.general_CPUs = 2
    params.assembly_CPUs = 2 //In cores. Used for Trinity and rnaSPAdes non-parallelized phases
    params.assembly_MEM = 1 //In gigabases. Used for Trinity and rnaSPAdes high memory phases
    params.storeDB = "./transXpress_db/"
    process.maxForks = 2 //if running locally, otherwise no limit
    report.enabled = true
    trace.enabled = true
    dag.enabled = true
    dag.file = "test_nonSS_dag.svg"
    report.file = "test_nonSS_report.html"

    params.TRINITY_PARAMS = " --seqType fq"
    // Used for both trinity and kallisto jobs!
    params.STRAND_SPECIFIC_TRINITY = "" // --SS_lib_type=RF
    params.STRAND_SPECIFIC_RNASPADES = "" // "--ss-rf"
    params.TRINITY_PARAMS += " --min_glue 2"
    params.TRINITY_PARAMS += " --min_kmer_cov 10"
    params.TRINITY_PARAMS += " --no_normalize_reads"

  }
  test_strandSpecific_local {
    process.executor = "local"
    params.general_CPUs = 2
    params.assembly_CPUs = 2 //In cores. Used for Trinity and rnaSPAdes non-parallelized phases
    params.assembly_MEM = 1 //In gigabases. Used for Trinity and rnaSPAdes high memory phases
    params.storeDB = "./transXpress_db/"
    process.maxForks = 2 //if running locally, otherwise no limit
    report.enabled = true
    trace.enabled = true
    dag.enabled = true
    dag.file = "test_nonSS_dag.svg"
    report.file = "test_nonSS_report.html"

    params.TRINITY_PARAMS = " --seqType fq"
    // Used for both trinity and kallisto jobs!
    params.STRAND_SPECIFIC_TRINITY = "--SS_lib_type=RF"
    params.STRAND_SPECIFIC_RNASPADES = "--ss-rf"
    params.TRINITY_PARAMS += " --min_glue 2"
    params.TRINITY_PARAMS += " --min_kmer_cov 10"
    params.TRINITY_PARAMS += " --no_normalize_reads"

  }
} 
