includeConfig 'cluster.config'

params.assembler = "trinity"

trace {
    enabled = true
    file = 'pipeline_trace.txt'
}

params.TRINITY_SEQTYPE = "fq"
params.TRINITY_MIN_GLUE = "2"
params.TRINITY_MIN_KMER_COV = "2"
params.TRINITY_OTHER = " --no_normalize_reads"

params.samples = "samples.tsv"

params.prefix_add_date = true //Set to false to disable
params.prefix_add_date_formatting = "yyMMdd" //See https://docs.oracle.com/javase/8/docs/api/java/text/SimpleDateFormat.html to change this formatting 
params.prefix_add_metadata_file = "./prefix.txt" //Expects to find a text file with the content within separated by spaces. Set to "" to disable
params.prefix_add_assembler = true //Will add Trinity or rnaSPAdes to the prefix, depending on which assembler is used

params.rnaSPAdes_params = ""
params.TRIMMOMATIC_PARAMS = "ILLUMINACLIP:adapters.fasta:2:30:10 SLIDINGWINDOW:4:5 LEADING:5 TRAILING:5 MINLEN:25"
params.output_dir = "transXpress_results"
